name: Run Every Minute

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:


jobs:
  run-every-minute:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Run Script
        run: |
          echo "This runs every minute"
          # Place your script here
