name: Run Every Minute

on:
  schedule:
    - cron: "5 12 * * 1-5"  # Monday to Friday at 5:35 PM IST
  workflow_dispatch:        # Optional manual trigger


jobs:
  run-every-minute:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Run Script
        run: |
          echo "This runs every minute"
          # Place your script here
